@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif !important;
}

body,
p,
span,
table,
div {
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.5;
}

body {
  margin: 0;
}

.full-width {
  width: 100%;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.logo-container {
  flex: 1;
}

.logo-container img {
  width: 20px;
  height: auto;
}

.logo-container strong {
  font-size: 1.2em;
  color: #333;
}

.list-item-meta h4 {
  margin-top: 6px !important;
}

.ant-list-item:hover {
  background-color: #f0f0f0;
  transition: all 0.2s ease-in-out;
}

.page-title {
  font-size: 1.8em;
  font-weight: 600;
  margin-left: 8px;
}

.profile-panel {
  margin-top: 24px;
}

.detail-item,
.detail-item.left {
  text-align: left;
}

.detail-item.center {
  text-align: center;
}

.detail-item.right {
  text-align: right;
}

.detail-item h2.ant-typography,
.detail-item h5.ant-typography,
.detail-item div.ant-typography {
  margin-bottom: 0px;
}

.profile-card {
  margin-top: 24px;
  margin-bottom: 24px;
}
